.Menu{
    width: 100%;
    padding: 0px 100px;
    display: flex;
    margin-top: 50px;
}
.Menu ul a{
    position: relative;
    width: 100%;
    text-decoration: none;
    list-style: none;
    color: black;
    
}
.Menu ul{
    width: 150px;
    height: 150px;
    border: 0.5px solid rgba(0, 0, 0, 0.219);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.137);
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: serif;
    margin-left: 1%;
}
.Menu ul img{
    width: 60%;
    height: 60%;
}
.Menu ul:hover{
    box-shadow: 2px 2px 6px rgba(43, 255, 0, 0.137);
    border: 0.5px solid rgba(51, 255, 0, 0.219);
}
#Titulo{
    position: relative;
    width: 100%;
    text-align: left;
    margin-top: 50px;
    left: 10%;
    color: rgb(61, 61, 61);
    font-size: 1.5rem;
}
.Desativado{
    opacity: 60%;
    filter: grayscale();
}