*{
    margin: 0%;
    padding: 0%;
}
#Formulario{
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
}
#PesquisarTXT{
    width: 15%;
    height: 100%;
    color: rgb(0, 162, 255);
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid rgb(0, 162, 255);
    border-radius: 10px 0px 0px 10px ;
}
#PesquisarBTN{
    position: relative;
    width: 100px;
    height: 100%;
    font-weight: bold;
    color: rgb(0, 162, 255);
    background-color: white;
    border: 1px solid rgb(0, 162, 255);
    border-radius: 0px 10px 10px 0px ;
}

#FiltrosDIV{
    height: 100px;
    width: 100%;
    margin-top: 20px;
    visibility: hidden;
    position: absolute;
}
.Filtro{
    height: 50px;
    width: 10%;
    color: rgb(0, 162, 255);
    font-weight: bold;
    border: 1px solid rgb(0, 162, 255);
    text-align: center;
    font-weight: bold;
}
.Filtro option{
    font-weight: bold;
}
.FiltrosBTN{
    height: 100%;
    width: 100px;
    font-weight: bold;
    border: none;
    background-color: white;
}
#TabelaDIV{
    position: relative;
    margin-top: 100px;
    width: 80%;
    height: 60vh;
    left: 50%;
    transform: translateX(-50%);
    overflow-y: auto;
    border: 1px solid rgb(0, 162, 255);
    border-radius: 20px;
}
.Tabela{
    position: relative;
    width: 100%;
}
.Tabela tr{
    box-sizing: border-box;
    transition-duration: 500ms;
}
.Tabela input{
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px  rgb(0, 162, 255) solid;
    color: rgb(0, 162, 255);
    font-weight: bold;
    background: none;
}
.Tabela select{
    position: relative;
    height: 50px;
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 1px  rgb(0, 162, 255) solid;
    color: rgb(0, 162, 255);
    font-weight: bold;
    touch-action: none;
    pointer-events: none;
    background: none;
}
#MenuTabela{
    position: relative;
    width: 50%;
    height: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border: 1px solid rgb(0, 162, 255);
    border-radius: 10px;
}
#MenuTabela img{
    height: 30px;
}
#MenuTabela button{
    height: 30px;
    width: 30px;
    position: relative;
    background: none;
    border: none;
    top: 50%;
    transform: translateY(-50%);
    transition-duration: 0.5s;
}
#MenuTabela button:hover{
    cursor: pointer;
}
#Remover{
    margin-left: 30px;
}
#Editar{
    transform: rotateY(0deg) translateY(-50%);
    top: 50%;
    background-image: url('imgs/editar.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    animation: Rodar linear 1s forwards paused;
}
#Fundo{
    top: 0px;
    position: absolute;
    visibility: hidden;
    opacity: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.329);
    backdrop-filter: blur(1px);
    z-index: 10;
    transition-duration: 1s;
}
#Modal{
    position: relative;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 60%;
    height: 80vh;
    background-color: rgba(255, 255, 255, 0.938);
    border: 1px solid black;
}
#Fechar{
    float: right;
    right: 0px;
    top: 0px;
    transform: translate(50%,-50%);
    background: none;
    border: none;
}
#Fechar img{
    height: 60px;
}
#AdicionarForm{
    position: relative;
    display: flex;
    width: 60%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}
#AdicionarForm input{
    width: 100%;
    height: 50px;
    font-weight: bold;
    text-align: center;
}
#AdicionarForm select{
    width: 100%;
    height: 50px;
    font-weight: bold;
    text-align: center;
}
#AdicionarForm option{
    font-weight: bold;
    text-align: center;
}
#AdicionarForm label{
    width: 100%;
    font-weight: bold;
    text-align: center;
}
@keyframes Rodar {
    0%{
        transform: rotateY(0deg) translateY(-50%);
        top: 50%;
        background-image: url('imgs/editar.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    74%{
        transform: rotateY(269deg) translateY(-50%);
        top: 50%;
        background-image: url('imgs/editar.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    75%{
        transform: rotateY(270deg) translateY(-50%);
        background-image: url('imgs/Ok.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    100%{
        transform: rotateY(360deg) translateY(-50%);
        top: 50%;
        background-image: url('imgs/Ok.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@keyframes Voltar {
    0%{
        transform: rotateY(0deg) translateY(-50%);
        top: 50%;
        background-image: url('imgs/Ok.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    74%{
        transform: rotateY(269deg) translateY(-50%);
        top: 50%;
        background-image: url('imgs/Ok.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    75%{
        transform: rotateY(270deg) translateY(-50%);
        background-image: url('imgs/editar.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
    100%{
        transform: rotateY(360deg) translateY(-50%);
        top: 50%;
        background-image: url('imgs/editar.png');
        background-size: contain;
        background-repeat: no-repeat;
    }
}
@media (max-width:580px) {
    .Tabela td:nth-child(2){
        position: absolute;
        visibility: hidden;
    }
    .Tabela th:nth-child(2){
        position: absolute;
        visibility: hidden;
    }
    .Tabela td:nth-child(3){
        position: absolute;
        visibility: hidden;
    }
    .Tabela th:nth-child(3){
        position: absolute;
        visibility: hidden;
    }
    .Tabela td:nth-child(4){
        width: 60%;
    }
    .Tabela td:nth-child(5){
        position: absolute;
        visibility: hidden;
    }
    .Tabela th:nth-child(5){
        position: absolute;
        visibility: hidden;
    }
    .Tabela td:nth-child(6){
        width: 5%;
    }
    .Tabela td:nth-child(7){
        position: absolute;
        visibility: hidden;
    }
    .Tabela th:nth-child(7){
        position: absolute;
        visibility: hidden;
    }
    .Tabela td:nth-child(8){
        width: 30%;
    }
    #PesquisarTXT{
        width: 60%;
    }
    #PesquisarBTN{
        width: 30%;
    }
    #FiltrosDIV{
        top: 10px;
        position: relative;
        background-color: aqua;
    }
    #Filtro{
        height: 10px;
    }
}